---
import BaseLayout from "../layouts/BaseLayout.astro"

const page = {
	lang: `en`,
	title: `Main Page`,
	description: `The main page`,
}
---

<BaseLayout page={page}>

<h2>Blah-blah-blah…</h2>

</BaseLayout>
