:root {
	--Icon_shape_burger: url("./burger.svg");
	--Icon_shape_cross: url("./cross.svg");
	--Icon_shape_moon: url("./moon.svg");
	--Icon_shape_sun: url("./sun.svg");

	--Icon_shape_github: url("./github.svg");
	--Icon_shape_mastodon: url("./mastodon.svg");
	--Icon_shape_telegram: url("./telegram.svg");
}
