---
import "@fontsource-variable/vollkorn/wght.css"; // Specify axis
import "@fontsource-variable/vollkorn/wght-italic.css"; // Specify axis and style
import "@fontsource-variable/raleway/wght.css"; // Specify axis
import "@fontsource-variable/raleway/wght-italic.css"; // Specify axis and style
import "../styles/index.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

import { normalizePath } from "../../utils/normalizePath.js"

const { page } = Astro.props
---

<!DOCTYPE html>

<html lang={page.lang}>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content={page.description}>
	<title>{page.title}</title>
	<link rel="icon" type="image/svg+xml" href={normalizePath(`/favicon.svg`)}>
</head>

<body>
	<Header />

	<main>
		<h1>{page.title}</h1>
		<slot />
	</main>

	<Footer />

	<script>
	import "../scripts/index.js"
	</script>
</body>

</html>
